body {
  font-family: "Helvetica", sans-serif;
  color: #fff;
}

.infoholder {
  text-align: center;
  font-weight: bold;
}
.infoholder h1 {
  font-size: 60px;
  text-shadow: 4px 4px black;
}
.infoholder h2 {
  font-size: 40px;
  text-shadow: 4px 4px black;
}

.portfolio {
  text-align: center;
  font-weight: bold;
}
.portfolio h1 {
  font-size: 60px;
}
.portfolio h2 {
  font-size: 40px;
}

.section-heading {
  text-align: center;
}


.section-bg {
  background: url(../img/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.btn-green {background-color: #4CAF50;} /* Green */
.btn-blue {background-color: #008CBA;} /* Blue */
.btn-red {background-color: #f44336;} /* Red */ 
.btn-gray {background-color: #e7e7e7; color: black;} /* Gray */ 
.btn-black {background-color: #555555;} /* Black */